{% extends "base.html" %}

    {% block content %}
    <div class="intro profile" >

        <div class="mask rgba-black-strong">

            <div class="cover container-fluid d-flex align-items-center justify-content-center h-100" >


                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                        <img src="{{ img }}"  class="img-thumbnail z-depth-1 rounded-circle" alt="rgba-blue-strong" style="width: 400px; height:400px">
                    </div>
                    <div class="col-md-6">
                      <blockquote>
                        <h2 class = "display-3 font-weight-bold white-text">Perfil de {{ user.username }}</h2>
                      </blockquote>
                        {% if profile == None %}
                            <form action="{% url 'api:profile' %}" method="post" role="form" autocomplete="off" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="name"><p class = "white-text">Nombre:</p></label>
                                    <input type="text" name="name" id="name" tabindex="1" class="form-control" placeholder="Nombre" required="required"  value="">
                                </div>
                                <div class="form-group">
                                    <label for="last_name"><p class = "white-text">Apellido:</p></label>
                                    <input type="text" name="last_name" id="last_name" tabindex="1" class="form-control" placeholder="Apellido" required="required"  value="">
                                </div>
                                <div>
                                    <label for="dni"><p class = "white-text">DNI:</p></label>
                                    <input type="number" min="0" name="dni" id="dni" tabindex="1" class="form-control" placeholder="DNI" required="required"  value="">
                                </div>
                                <div class="form-group">
                                    <label for="picture"><p class = "white-text">Foto de perfil:</p></label>
                                    <input type="file" name="picture" id="picture" class="form-control" required="required" accept="image/png, image/jpeg" value="">
                                </div>
                                <div class="row">
                                  <div class="col-xs-6 col-xs-offset-3">
                                    <input type="submit" name="profile-submit" id="profile-submit" tabindex="4" class=" btn btn-info btn-sm" value="Actualizar perfil">
                                  </div>
                                </div>
                              </div>
                            </form>

                            <br><br>
                        {% else %}
                            <p class = "white-text">
                                Nombre: {{profile.name}}<br>
                                Apellido: {{profile.last_name}}<br><br>
                            </p>
                        {% endif %}
                      <a type="button" href="#stadistics" class="btn btn-outline-white">Mira tus estadisticas de League of Legends<i class="fa fa-book ml-2"></i></a>
                    </div>
                  </div>
                </div>

        </div>
    </div>
 </div>
 <section class="stadistic cover container-fluid d-flex align-items-center justify-content-center h-100" id="stadistics" style="background-color:#141d35 ">


        <form class="text-center border border-light p-5" style = "background-color:#24355c">

            <p class="h4 mb-4 white-text">Vincula tu cuenta!</p>

            <p class="white-text">Oops... aun no nos dijiste tu nombre de invocador.</p>

            <p class="white-text">
                Para participar de torneos y ver estadisticas, coso.
            </p>

            <!-- Name -->
            <input type="text" class="form-control mb-4" placeholder="Nombre de invocador">


            <!-- submit button -->
            <button class="btn btn-info btn-block" type="submit">Vincular Cuenta</button>

        </form>


 </section>
    {% endblock %}
