{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}
<header>
    <link href="{% static 'css/style_editor.css' %}" rel="stylesheet">
    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
</header>
<body>
    <div class="container editor" >
        <p class = "h1 mb-4 white-text" > Crear Publicaci&oacute;n </p>

        {{ article_form.media }}
        <form class="white-text" method="post" action='' enctype="multipart/form-data">
            {% csrf_token %}

            {{ article_form.as_p  }}


            <input class="btn btn-success" type="submit" value="Crear publicaci&oacute;n">
        </form>
    </div>
</body>



{% endblock %}
